<!-- templates/contact.html -->
{% extends "base.html" %}
{% block title %}Contact - LexiGuard{% endblock %}

{% block content %}
<h2>📞Contact Us</h2>
<p>If you have any questions or feedback, feel free to reach out:</p>
<ul>

    <li>Email-1: abirahbanu1@gmail.com</li>
    <li>Instagram: abirah_banu</li>
    <li>Email-2: keerthigapullani@gmail.com</li>
    <li>Instagram: __keerthi_._ps</li>
    <li>Phone: +91 9789151706</li>
    <li>Address: 123 Code Street, Pythonville</li>
</ul>
{% endblock %}
